/bin/
/.settings/
/.idea/
*.iml
/target
*.class
*.log
/Codewars/target/classes/META-INF/Codewars.kotlin_module
/Codewars/target/test-classes/META-INF/Codewars.kotlin_module
/Games/FXGL/target/
/AdventOfCode/target/classes/nl/bos/a2020/*
/AdventOfCode/AdventOfCode.iml
/AdventOfCode/target
/system/fxgl.bundle
/Programmr/Programmr.iml
/ComputerIdeeResolver/ComputerIdeeResolver.iml
/Games/FXGL/FXGL.iml
/Edabit/Edabit.iml
/Onion/Onion.iml
/Onion/target
/SwaggerDemo/.gitignore
/SwaggerDemo/.mvn/wrapper/maven-wrapper.jar
/SwaggerDemo/.mvn/wrapper/maven-wrapper.properties
/SwaggerDemo/.mvn/wrapper/MavenWrapperDownloader.java
/SwaggerDemo/mvnw
/SwaggerDemo/mvnw.cmd
/node_modules/
/Edabit/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/ComputerIdeeResolver/target/*
/Games/JavaFX/target/*
/Legacy/target/*
/Codewars/target/*
/Games/LWJGL/target/*
/Programmr/target/*
/TDD/target/*
/Edabit/target/*
/webpack.generated.js
/webpack.config.js
/Games/JMonkey/target/*
/Games/Slick2d/target/*
/Games/LibGDX/target/*
/Lemmings/target/*
/ChatApp/target/*
/Refactoring/target/*
/Refactoring/src/main/java/nl/kvk/*
/Calculator/target/*