/bin/
/.settings/
/.idea/
/*.iml
/target
*.class
/Codewars/target/classes/META-INF/Codewars.kotlin_module
/Codewars/target/test-classes/META-INF/Codewars.kotlin_module
/Games/FXGL/target/
/AdventOfCode/target/classes/nl/bos/a2020/*
/AdventOfCode/AdventOfCode.iml
/system/fxgl.bundle
/Programmr/Programmr.iml
/ComputerIdeeResolver/ComputerIdeeResolver.iml
/Games/FXGL/FXGL.iml
/Edabit/Edabit.iml
/Onion/Onion.iml
/Onion/target